:root{
    --primary-color:#003366;
    --secondary-Color:#f0c000;
    --accent:#28a745;
    --Background:#ffffff;
    --Text:	#222222;

}
@media screen and (min-width:768px){
    header{
        flex-direction: row;
        justify-content: space-between;
    }
    header .header-top{
    display: flex;
    width: 50%;
}
   .logo img{
    height: 124px;
    padding-left: 0.5rem;
   }
   .logo .logo-text{
        padding: 1rem;
    }
    .logo .logo-text p{
        padding: 0%;
        margin: 0%;
        color: var(--secondary-Color);
        font-weight: 500;
        font-size: 1rem
    }
    .logo .logo-text h1{
        padding: 0%;
        margin-bottom: 0%;
        font-size: 2rem;
    }
    
    nav{
    width: 50%;
    padding: 1rem;

   }
    nav ul{
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        padding-top: 3rem;
        align-items: normal;
    }
    ul li a:hover{
    border: none;
    }
    .menu-button{
        display: none;
    }
   .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 1rem;
   }
    .cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
        padding: 1rem;
    }
    .cards .card h2{
        font-size: 1.5rem;
    }
    footer{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
    }
    footer div{
        flex: 1;
        margin: 0 1rem;
    }
    footer .social-media{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
}
