:root{
    --primary-color:#003366;
    --secondary-color:#f0c000;
    --accent:#28a745;
    --Background:#ffffff;
    --Text:	#222222;

}
body{
    font-family: 'Roboto', sans-serif;
    color: var(--Text);
}
header{
    display: flex;
    background-color: var(--primary-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--Background);
    padding: .5rem;
}
header h1{
    color: var(--Background);
}
header .header-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
header .header-top .logo{
    display: flex;
    flex-direction: row;
    padding: .5rem;
}
.logo img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.logo .logo-text{
    padding: .rem;
}
.logo .logo-text p{
    padding: 0%;
    margin: 0%;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: .5rem
}
.logo .logo-text h1{
    padding: 0%;
    margin-bottom: 0%;
    font-size: 1rem;
}
 .menu-button{
    display: block;
    font-size: 2rem;
    background-color: var(--primary-color);
    cursor: pointer;
    border: none;
    color: var(--Background);
    padding: 0.5rem;
    margin-top: 0%;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    min-width: 40px;
    min-height: 40px;
}
h1, h2, h3{
    font-family:'Roboto', sans-serif;
    color: var(--primary-color);
}
nav{
    width: 100%;
}

nav ul{
    list-style: none;
    display: none;
    gap: .5rem;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    padding: 0%;
    margin: 0%;

}
nav ul.active{
    display: flex;
}
nav ul li{
    width: 100%;
}
nav ul li a{
    display: block;
    color: var(--Background);
    width: 100%;
    max-height: 2.5rem;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
    font-weight: 500;
}
ul li a:hover{
    color: var(--secondary-color);
    border: 1px solid #ccc;;
}
ul li a:focus{
    color: var(--secondary-color);
}

main{
    display: grid;
    justify-content: center;
    align-content: center;
}

.menu{
    display: none;
}

.menu button{
    background-color: var(--primary-color);
    color: var(--Background);
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
}
.menu button:hover{
    background-color: var(--accent);
    color: var(--Background);
}
.menu button:focus{
    background-color: var(--accent);
    color: var(--Background);
}
.cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.cards .card{
        margin: 1rem;
        padding: 1rem;
        background-color:var(--Background);
        border: 1px solid #ccc;
        color: var(--Text);
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .cards .card h2{
        margin-top: 0%;
        padding-top: 0%;
        text-align: center;
    }
    .card p{
        font-weight: 700;
        margin-top: 0%;
        padding-top: 0%;
        text-align: center;
    }
    footer{
    display: flex;
    padding: 1rem 3rem;
    background-color: var(--primary-color);
    flex-direction: column;
    color: var(--Background);
    text-align: center;
    }

    footer div{
        margin-bottom: 1.5rem;
    }
    footer div p {
        margin: 0.3rem 0;
    }
    .developer-info p, .chamber-info p{
        min-height: 1rem;
    }

    footer .social-media a{
        color: var(--Background);
        text-decoration: none;
        font-weight: 500;
        margin: 0 .5rem;
    }
    footer .social-media img{
        width: 100%;
        height: 100%;
        display: block;
    }
    footer .social-media{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    