:root{
    --primary-color:#003366;
    --secondary-color:#f0c000;
    --accent:#28a745;
    --Background:#ffffff;
    --Text:	#222222;

}
body{
    font-family: 'Roboto', sans-serif;
    color: var(--Text);
}
header{
    display: flex;
    background-color: var(--primary-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--Background);
    padding: .5rem;
    margin-bottom: 0%;
}
header h1{
    color: var(--Background);
}
header .header-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
header .header-top .logo{
    display: flex;
    flex-direction: row;
    padding: .5rem;
}
.logo img{
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.logo .logo-text p{
    padding: 0%;
    margin: 0%;
    color: var(--secondary-color);
    font-weight: 500;
    font-size: .5rem
}
.logo .logo-text h1{
    padding: 0%;
    margin-bottom: 0%;
    font-size: 1rem;
}
 .menu-button{
    display: block;
    font-size: 1.5rem;
    background-color: var(--primary-color);
    cursor: pointer;
    border: none;
    color: var(--Background);
    padding: 0.5rem;
    margin-top: 0%;
    margin-bottom: 0.5rem;
    margin-left: .5em;
    margin-right: .5rem;
    min-width: 40px;
    min-height: 40px;
}
h1, h2, h3{
    font-family:'Roboto', sans-serif;
    color: var(--primary-color);
}
nav{
    width: 100%;
}

nav ul{
    list-style: none;
    display: none;
    gap: .5rem;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    padding: 0%;
    margin: 0%;

}
nav ul.active{
    display: flex;
}
nav ul li{
    width: 100%;
}
nav ul li a{
    display: block;
    color: var(--Background);
    width: 100%;
    max-height: 2.5rem;
    text-align: center;
    padding: .5rem;
    text-decoration: none;
    font-weight: 500;
}
ul li a:hover{
    color: var(--secondary-color);
    border: 1px solid #ccc;
}
ul li a:focus{
    color: var(--secondary-color);
}
.container{
    display: grid;
    justify-content: center;
    align-content: center;
}
/* Home Page */
.hero {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url('../images/medium-hero-img.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero h1{
    color: var(--Background);
    margin-top: 3rem;
    font-size: 1.2rem;
    padding: .5rem;
}
.hero h1:hover{
    color: var(--secondary-color);
    transition: 5s;
}
   /*Home button designs*/
.hero .cta{
    background: var(--primary-color);
    width:5rem;
    padding: .5rem 1rem;
    border-radius: 5px;
    color: var(--Background);
    text-decoration: none;
 }

 .hero .cta:hover{
    color: var(--secondary-color);
 }

.home-header{
    margin: 0 1rem;
}

main .home-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem 1rem;
    flex: 1;
    min-height: 350px;
 }

.home-content .events{
    border: 1px solid #ccc;
}
.home-content .current-weather{
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.current-weather figure{
    display: flex;
    flex-direction: row;
    gap: .5rem;
    margin: .2rem;
    align-items: flex-start;
}
.current-weather figure #weather-icon{
    margin-top: 0rem;
    align-self: flex-start;
}
figure figcaption{
    margin: .5rem 0rem;
}
figcaption ul{
    margin: .1rem 0rem;
    list-style: none;
    padding: 0%;
}
figcaption ul li{
    margin: .5rem 0%;
}

.home-content .weather-forecast{
    border: 1px solid #ccc;
}
main .home-content .weather-forecast p{
    margin: 2rem 1rem ;
    font-size: .5rem;
}
.home-content section .content-header{
    margin-top: 0%;
    margin-bottom: .5rem ;
    width: 99%;
    background: var(--primary-color);
    color: #ccc;
    padding: 0.5rem 0.2rem;
}

main .company-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 1rem;
}
main .company-cards .business-card{
    flex: 1 ;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.company-cards .business-card .card-header {
    border-bottom: 1px solid #ccc;
    margin-top: 0;
    padding: .2rem 0;
    text-align: center;
}

.company-cards .business-card .card-header h2{
    margin-bottom: 0.3rem;
}


.company-cards .business-card .card-header p{
    margin-top: 0%;
}

.company-cards .business-card .card-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: .05rem;
}
.business-card .card-body ul{
    list-style: none;
    padding: 0%;
    margin: 0%;
}
.business-card .card-body ul li{
    margin: 0.5rem ;
}


/* end of Home page design*/

/*Join Page*/
.register-page{
    width: 100%;
    height: 100%;
    margin: 0%;
    background-color: rgba(0 0 0/5%);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.register-page form{
    background-color: var(--Background);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 2rem 1rem;
    border: none;
    /*border-radius: 25px;
    box-shadow: 0px 1px 1rem 2px rgba(0,0,0,0.3);*/
    width: 80%;
}
form button{
    width: 70%;
    margin: 1.5rem auto;
    padding: .75rem .5rem;
    background: var(--primary-color);
    border-radius: 5px;
    border: none;
    color: var(--Background);

}
.register-page .membership-level{
    width: 80%;
    margin: 2rem 1rem;
}
.register-page .membership-level .level{
    height: 20%;
    text-align: center;
    background: var(--Background);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: 2px 2px 1rem rgba(0 0 0 / 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
form fieldset .membership{
    margin-bottom: 1rem;
}
.register-page form input{
    padding: .85rem 1.2rem;
    border-radius: 15px;
    width: 70%;
    border: 1px solid #ccc;
    border-left: 5px solid var(--accent);
    outline: none;
}

label{
    color: var(--primary-color);
    margin: .2rem 0rem;
}
.register-page form input[type='radio']{
    width: 24px;
    height: 20px;
    padding: 1rem;
}
.register-page form textarea{
    width: 70%;
    margin-top: 0.3rem;
    border: 1px solid #ccc;
}
legend{
    color: var(--primary-color);
    font-weight: 800;
    font-size: 1.1rem;
}

.membership-level .level button{
    background: var(--primary-color);
    color: var(--Background);
    border-radius: 5px;
    padding: .5rem;
    border: none;
}

/*End Join Page*/

.menu{
    display: none;
}


.menu button{
    background-color: var(--primary-color);
    color: var(--Background);
    border: none;
    border-radius: 5px;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
}
.menu button:hover{
    background-color: var(--accent);
    color: var(--Background);
}
.menu button:focus{
    background-color: var(--accent);
    color: var(--Background);
}
.cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}
.cards .card{
        margin: 1rem;
        padding: 1rem;
        background-color:var(--Background);
        border: 1px solid #ccc;
        color: var(--Text);
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .cards .card h2{
        margin-top: 0%;
        padding-top: 0%;
        text-align: center;
    }
    .card p{
        font-weight: 700;
        margin-top: 0%;
        padding-top: 0%;
        text-align: center;
    }
    footer{
    display: flex;
    padding: 3rem 2rem;
    background-color: var(--primary-color);
    flex-direction: column;
    color: var(--Background);
    text-align: center;
    }

    footer div{
        margin-bottom: 1.5rem;
    }
    footer div p {
        margin: 0.3rem 0;
    }
    .developer-info p, .chamber-info p{
        min-height: 1rem;
    }

    footer .social-media a{
        color: var(--Background);
        text-decoration: none;
        font-weight: 500;
        margin: 0 .5rem;

    }
    footer .social-media img{
        width: 100%;
        height: 100%;
        display: block;
    }
    footer .social-media{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
