@media screen and (min-width:64rem) {
    main .hero .hero-img{
    display: block;
    border-radius: 5px;
}
.about .content{
    margin: 4rem;
    padding: 3rem 0rem;
    color: var(--background);
    width: 50%;
    height: 62.5rem;
}
.about .content h2{
    font-size: 2.5rem;
}
.about .content h3{
    font-size: 1.5rem;
}
.about .content p{
    margin:1rem  0rem;
    font-size: 1.2rem;
    font-weight: normal;

}
main section .features{
    gap: 1rem;
}
main .team{
    flex-direction: row;
    margin: 7rem 3rem;
}
main .team .team-members{
    gap: 3rem;
}
main .team .team-title{
    flex: 1;
    align-self: center;
    font-size: 2.5rem;
}


/*services page*/
main .service-hero{
    padding-top: 4rem;
    height: 1000px;
    padding-left: 4rem;
    padding-right: 4rem;
}
.service-hero .key-service{
    grid-template-columns: 1fr 1fr 1fr ;
}

/* verification page */
.container .result{
    padding: 1rem 3rem;
    margin: 0rem 3rem;
}

footer{
    grid-template-areas: 
    "col1 col2 col3"
    "col4 col4 col4";
    grid-template-columns: 1fr 1fr 1fr;
}
footer .column-1{
    grid-area: col1;
}

/* end column */
footer .column-2{
    grid-area: col2;
}
footer .column-3{
    grid-area: col3;
}

footer #footer-bottom{
    grid-area: col4;
}

}