:root{
    --primary: linear-gradient(135deg, #140313 0%, #0b0413 30%, #140313 70%);
    --background: White;
    --accent: #fbe8f9 ;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    line-height: 1.6;
}

body {
    margin: auto;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: #333;
}

header {
    display: grid;
    grid-template-areas: 
    "a b "
    "c c";
    background: linear-gradient(135deg, #140313 0%, #0b0413 30%, #140313 70%);
    color: #fff;
    box-shadow: 0 2px 10px rgba(187, 159, 159, 0.1);
    padding:1rem .5rem ;
    width: 100%;
    gap: 1rem;
}
header .logo{
    grid-area: a;
    display:flex;
    flex-direction: row;
    margin: 0%;
    gap: .2rem;
    padding-top: 0.5rem;
}
.logo img{
    margin: 0%;
    height: 20px;
    width: 20px;
}
.logo h1{
    font-size: 1rem;
}
nav{
    grid-area: c;
    margin: 0%;
}

header nav ul{
    list-style: none;
    display: none;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    margin: 0%;
}
.menu-button{
    grid-area: b;
    display: block;
    font-size: 1.5rem;
    padding-top: 0%;
    background-color: var(--primary-color);
    /*cursor: pointer;*/
    border: none;
    color: var(--Background);
    margin-top: 0%;
    min-width: 40px;
    min-height: 40px;
}
header nav ul li{
    width: 100%;
    text-align: center;
}
header nav ul li a{
    width: 100%;
    text-decoration: none;
    color: var(--accent);
}
nav ul.active{
    display: flex;
}
header .verify{
    text-align: center;
    display: none;
}
.adder{
    display: inline;
}
.verify a{
    background: var(--accent);
    padding: .65rem 2rem;
    border-radius: 5px;
    color: black;
    text-decoration: none;
}
.verify a:focus{
    background: #300930;
    color: var(--accent);
}
.plan-header {
    background-color: #264653;
    color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(187, 159, 159, 0.1);

}

.plan-header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.1rem;
    font-style: italic;
}


main .site-content {
    margin-top: 40px;
    padding: 20px;
    background-color: #f9f9f9;
    border-left: 5px solid #2a9d8f;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.05);
}

main h2 {
    color: #264653;
    margin-bottom: 10px;
}


section ol {
    margin-left: 20px;
    margin-top: 10px;
}

ol li {
    margin-bottom: 10px;
}

section p strong {
    color: #264653;
}

li[style*="#2a9d8f"] {
    font-weight: bold;
}

/*HOME*/
.home{
     background: linear-gradient(135deg, #fbe8f9 0%, #e7d8f6 30%, white 70%);
}
main .hero{
    display: grid;
    grid-template-areas:
    "a";
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    /*text-align: center;*/
}
main .hero .hero-text{
    grid-area: a;
}
main .hero .hero-text .cta{
    margin: 2rem 0rem;
}
main .hero .hero-text .cta a {
    background: var(--primary);
    border: none;
    border-radius: 5px;
    padding: 1rem 1rem;
    color: white;
    text-decoration: none;
}
main .hero .hero-img{
    display: none;
    border-radius: 5px;
}

main .about{
    background:linear-gradient(to right, 
    rgba(0, 0, 0, 1) 20%, 
    rgba(10, 0, 20, 0.95) 50%, 
    rgba(10, 0, 20, 0.90) 80%
  ),
  url('../images/about-bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
}
.about .content{
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    color: var(--background);
    padding: 1rem;
}
.content h2, .content h3{
    color: var(--background);
}

main .features{
    display: grid;
    grid-template-areas: 
    "a"
    "b"
    "c";
    text-align: center;
    margin-bottom: 2rem;
}
main .feature-title{
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.features figure{
    margin: .5rem;
}

main .team{
    display: flex;
    flex-direction: column;
}
main .team .team-title{
    flex: 1;
    padding: 1rem;

}
.team-title h2{
    font-size: 2rem;
}
.team-title p{
    font-size: 1.1rem;
}
main .team .team-members{
    flex: 1;
    display: grid;
    grid-template-areas:
    "a"
    "b";
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 1rem;
}
.team .team-members .team-member{
    display: grid;
    grid-template-areas:"a b" ;
    gap: .5rem;
    padding: .2rem;
    grid-template-columns: 1fr 2fr;
}
.team-members .team-member img{
    border-radius: 999px;
    width: 80px;
    height: 80px;
    align-self: center;
    justify-self: center;
}
.team-members .team-member .team-details{
    font-size: .6rem;
    align-self: center;   
} 

/* End of home design */

/* Service Page */
main .service-hero{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0.3)) 50% ,url("../images/service-hero-img.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
     background-attachment: fixed;
    padding: 2rem;
}

main .service-hero .hero-text{
    text-align: center;
    color:#300930;
    margin-bottom: 2rem;
}
main .service-hero .hero-text h1 {
    color: var(--primary);
}
.service-hero .key-service{
    margin: auto;
    display: grid;
    grid-template-columns: 1fr ;
    gap: 1rem;
}
.key-service .service-card{
    background: linear-gradient(135deg, #fbe8f9 30%, #e7d8f6 50%, white 70%);
    color: #300930;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
}
.key-service .service-card h2{
    color: #1a051a;
}
main .service-cta{
    margin: 3rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.service-cta h2{
    color: #300930;
}
.service-cta ul{
    list-style: none;
}
.service-cta ul li{
    padding: 0.5rem;
}
.service-cta ul li img{
    margin-right: .3rem;
    display: none;
}
.service-cta .cta-btn{
    display: grid;
    margin: .5rem .2rem;
    grid-template-areas: 
    "btn"
    "btn";
}
.service-cta .cta-btn .btn{
    padding: 1rem;
    background: #300930;
    margin-top: .5rem;
    color: var(--background);
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
}
/*End service page*/

/* Verification page */
.verification-title{
    grid-area: a;
    padding-left: 2.3rem;
    color:#300930;
    margin-top: 1rem;
}
.container{
    display: grid;
    grid-template-areas:
    "a"
    "b"
    "c"
    "d";
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    margin-bottom: 2rem;

}
/* form */
.container form{
    grid-area: b;
    padding: 2rem;
    color: #300930;
    width: 100%;
}

.container form input{
    padding: .85rem .75rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    margin-bottom:.5rem;
    box-shadow: 1px 1px .3rem ;
}
form .form-btn{
    text-align: center;
}
.container form button{
    padding: .75rem;
    border-radius: 5px;
    border: none;
    background: #300930;
    color: var(--background);
    width: 100%;
}
#verify-details{
    width:100%;
    padding: 2rem;
    top: 50px;
    left: 10px;
}
::backdrop{
    background: rgba(0 0 0 /70%);
}
#verify-details #closeModal{
    padding: 0.2rem .5rem;
    position: absolute;
    top: 22px;
    right: 23px;
}
.container .result{
    grid-area: c;
}
.container .result h2{
    text-align: center;
    color: #1a051a;
}
.container .support{
    text-align: center;
}
/* End verification page*/

/* Footer */
footer{
    grid-template-areas: 
    "a"
    "b"
    "c"
    "d";
    display: grid;
    background: var(--primary);
    padding: 2rem 1rem;
    gap: 1rem;
    grid-template-columns: 1fr;
    color: var(--accent);
}
/* Footer .column-1*/
footer .column-1{
    grid-area: a;
    display: flex;
}
footer .column-1 img{
    width: 1.8rem;
    height: 1.8rem;
}
footer .column-1 h1{
    font-size: 1.2rem;
}
/* End Footer .column-1*/

/* footer column-2 */
footer .column-2{
    grid-area: b;
}
footer .column-2 ul{
    list-style: none;
}
/* footer column-2*/
footer .column-3{
    grid-area: c;
}
footer .column-3 p{
    text-align: left;
}

footer .column-3 .social-media {
  display: flex;
  gap: 0.5rem;
}

footer .column-3 .social-media a {
  background: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center; /* center vertically */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
}

footer .column-3 .social-media a img {
  width: 15px;
  height: 15px;
}
footer #footer-bottom{
    grid-area: d;
    padding-top:2rem ;
    text-align: center;
    font-size: 0.9rem;
}
/* End Footer */
